<div class="home-container">

    <div>
        <h1>
            Welcome to the Game Of Thrones Test
        </h1>  
        <h5>
            Hitachi Energy 2024
        </h5>
        <span>
            Explanation:
        </span>
        <p>
            The main objective of this test is to validate the Angular basic knowledge of the candidates 
            by creating a component from scratch based on a simplified description of the component.  
            The candidates are free to imagine how the component <strong> should </strong> 
            work based on their own experience. 
        </p> 
        The evaluation will have 3 main components:
        <ul class="list-style" >
            <li>Code structure</li>
            <li>Logic</li>
            <li>Cosmetic / Style work</li>
        </ul>

    </div>

    <div class="home-explanation-box">
        <div class="capsule">
            
            <span class="capsule-title"> Task 1 : Structure </span>

            <ul class="list-style">
                <li>
                    Using git clone repo from:
                    <a href="https://github.com/WhiteWalker1/got-app"> repo </a>
                </li>
                <li>
                    Create new branch from develop using the following notation:
                    <span>dev/hitachi-test-1/$your-name</span>
                </li>
                <li>
                    Generate new component to show all characters from game of thrones using the documentation on the web site: 
                    <a href="https://thronesapi.com/">www.thronesapi.com</a> and the service provided with this repo: GotInfoService.
                </li>
                <li>
                    Fix any problem you might have fetching the data or create your own service.
                </li>
                <ul class="list-style">
                    <li>
                        Create/Update or fix the necessary functions to retrieve the information from the API.    
                    </li>
                    <li>
                        Create catalog component and present all the characters in a grid view.
                    </li>
                    <li>
                        Show image and basic information like first and last name.
                    </li>
                </ul>
            </ul>
        </div>

        <div class="capsule">
            <span class="capsule-title"> Task 2 : Style </span>
            <ul class="list-style">
                <li>
                    Using Angular Material (already installed), provide style to the grid component to present the characters aligned with the GoT Theme.  
                </li>
                <li>
                    Make it responsive and visually in line with the dark them of GoT.
                </li>
                <li>
                    Remember to create as many commits as you need per each action.
                </li>
            </ul>
        </div>

        <div class="capsule">
            <span class="capsule-title"> Task 2 : Push and PR </span>
            <ul class="list-style">
                <li>
                    Push your changes to the remote repo.
                </li>
                <li>
                    Create a pull request and add Approvers: Julian Toro and David Restrepo.
                </li>
            </ul>
        </div>
    </div>
</div>