<div class="footer-container">

    <div class="column" style="align-items: center;">
        Hitachi Energy Inc.
    </div>

    <div class="column" style="align-items: center;">
        All rights reserved.
    </div>

    <div class="column">
        <span>
            HUB NAM Engineering
        </span>
        <ul>
            <li>
                <strong>
                    Created by: 
                </strong>
                Julian Toro
            </li>
        </ul>
    </div>
</div>