<div class="cards-container">
    @for (char of paginatedCharacters; track $index) {
    <mat-card class="card" appearance="outlined">
        <mat-card-header class="card-header">
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title class="card-title">{{ char.fullName }}</mat-card-title>
            <mat-card-subtitle>{{char.family }}</mat-card-subtitle>
        </mat-card-header>
        <img class="card-image" mat-card-image src="{{char.imageUrl}}" alt="Photo of {{char.firstName}}">
        <mat-card-content>
            <p>{{char.title}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="action-button">LIKE</button>
            <button mat-button class="action-button">SHARE</button>
        </mat-card-actions>
    </mat-card>
    }

</div>
<div class="pagination-controls">
    <button class="btn btn-sm btn-primary" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span class="page-text">Page {{ currentPage }} of {{ totalPages }}</span>
    <button class="btn btn-sm btn-primary" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>