.cards-container {
    width: 100%;
    height: 80dvh;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    gap: 10px;

    .mat-mdc-card-content {
        display: block;
        padding: 16px 8px 0;
    }
}
.loading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mat-mdc-card-outlined {
    border-width: var(--mdc-outlined-card-outline-width);
    border-style: solid;
    border-color: var(--mdc-outlined-card-outline-color);
    border-radius: var(--mdc-outlined-card-container-shape);
    box-shadow: var(--mdc-outlined-card-container-elevation);
    background-color: #000000fd;
}
.card {
    max-width: 220px;

    .card-header {
        display: flex;
        align-items: center;

        .card-title {
            font-size: 0.9rem;
            padding: 0;
            padding-left: 8px;
        }
    }

    .action-button {
        position: relative;
        right: 14px;
    }
} 
.header-image {
    background-image: url(/assets/images/thumb-150-188935.jpg);
    background-size: cover;
}
.card > img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}